@model IEnumerable<LibraryManagement.Models.Book>

@{
    ViewData["Title"] = "Books (Member)";
}

<h2>Books (Member)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Description</td>
                <td>
                    <form asp-action="Borrow" method="post">
                        <input type="hidden" name="bookId" value="@book.Id" />
                        <button type="submit" class="btn btn-primary">Borrow</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>